[submodule "libs/cairo"]
	path = libs/cairo
	url = https://github.com/roozbehid/cairo.git
[submodule "libs/fontconfig"]
	path = libs/fontconfig
	url = https://github.com/roozbehid/fontconfig.git
[submodule "libs/libexpat"]
	path = libs/libexpat
	url = https://github.com/roozbehid/libexpat.git
[submodule "libs/libgdiplus"]
	path = libs/libgdiplus
	url = https://github.com/roozbehid/libgdiplus.git
[submodule "libs/pixman"]
	path = libs/pixman
	url = https://github.com/roozbehid/pixman.git
[submodule "libs/microwindows"]
	path = libs/microwindows
	url = https://github.com/roozbehid/microwindows.git
[submodule "external/mono"]
	path = external/mono
	url = https://github.com/mono/mono.git
