[submodule "libs/cairo"]
	path = libs/cairo
	url = https://github.com/roozbehid/cairo.git
[submodule "libs/fontconfig"]
	path = libs/fontconfig
	url = https://github.com/roozbehid/fontconfig.git
[submodule "libs/libexpat"]
	path = libs/libexpat
	url = https://github.com/roozbehid/libexpat.git
[submodule "libs/libgdiplus"]
	path = libs/libgdiplus
	url = https://github.com/roozbehid/libgdiplus.git
[submodule "libs/pixman"]
	path = libs/pixman
	url = https://github.com/roozbehid/pixman.git
[submodule "libs/microwindows"]
	path = libs/microwindows
	url = https://github.com/roozbehid/microwindows.git
[submodule "aspnetwebstack"]
	path = winforms/external/mono/external/aspnetwebstack
	url = git://github.com/mono/aspnetwebstack.git
[submodule "Newtonsoft.Json"]
	path = winforms/external/mono/external/Newtonsoft.Json
	url = git://github.com/mono/Newtonsoft.Json.git
[submodule "cecil"]
	path = winforms/external/mono/external/cecil
	url = git://github.com/mono/cecil.git
[submodule "debian-snapshot"]
	path = winforms/external/mono/external/debian-snapshot
	url = git://github.com/directhex/mono-snapshot.git
[submodule "entityframework"]
	path = winforms/external/mono/external/entityframework
	url = git://github.com/mono/entityframework.git
[submodule "rx"]
	path = winforms/external/mono/external/rx
	url = git://github.com/mono/rx.git
	branch = rx-oss-v2.2
[submodule "ikvm"]
	path = winforms/external/mono/external/ikvm
	url = git://github.com/mono/ikvm-fork.git
[submodule "external/mono/Lucene.Net"]
	path = winforms/external/mono/external/Lucene.Net
	url = git://github.com/mono/lucene.net.git
[submodule "ikdasm"]
	path = winforms/external/mono/external/ikdasm
	url = git://github.com/mono/ikdasm.git
[submodule "referencesource"]
	path = winforms/external/mono/external/referencesource
	url = https://github.com/roozbehid/referencesource.git
	branch = mono
[submodule "reference-assemblies"]
	path = winforms/external/mono/external/reference-assemblies
	url = git://github.com/mono/reference-assemblies.git
[submodule "external/mono"]
	path = external/mono
	url = https://github.com/mono/mono.git
